# Most configuration for this app is done via environment variables. For local development,
# copy this file to .env, and fill out the values. DO NOT COMMIT the .env file!!! Also,
# do not commit any private information to this repo.

# This directory is where autotune does all its cloning and building.
# It should be writable by the rails and resque processes.
WORKING_DIR=./working

# Which redis server should we use?
REDIS_SERVER=localhost:6379

# What services can users use to authenticate?
AUTH_PROVIDERS=github,google_oauth2
# Which service should we default to, if necessary?
PREFERRED_AUTH_PROVIDER=github

# Keys for various 3rd party services
# Githubs
GITHUB_KEY=
GITHUB_SECRET=
# Googles
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
