// star for required fields? this is the easeist way to adjust that
.glyphicon-star:before {
  font-family: $font-family-sans-serif;
  content: "*";
  margin-right: 3px;
}

// so we can keep alert box content flush
.alert > .container-fluid {
  padding:0;
}

td.actionbar .btn-group button {
  margin-right: 0;
  font-size: 1.1em;
}

.alpaca-field-object .alpaca-field-object,
.alpaca-field-array {
  margin-top:40px;
  margin-bottom:15px;
}
.alpaca-field-array .alpaca-field-object {
  margin-top:0;
}

.alpaca-field-array {
  padding-bottom:15px;
  > legend {
    font-size:$font-size-h3;
  }
}

.alpaca-container-item {
  position:relative;
  .well{
    padding-bottom: 48px;
    .alpaca-control.checkbox{
      margin-left: 0px;
    }
  }
  .alpaca-array-actionbar {
    &:before{
      margin: 0 0 -4px 0;
      font-size: 16px;
    }
  }
  .btn-default{
    margin: 5px 0;
  }
  label{
    display: inline-block;
    width: initial;
    + .checkbox + .help-block{
      padding-left: 0px;
    }
  }
}

.alpaca-array-actionbar-bottom {
  position:absolute;
  bottom:0;
  // right:0;
  left: 20px;
}

.alpaca-array-actionbar-top {
  position:relative;
  top:0;
  right:0;
}

.alpaca-field-hidden {
  display:none;
}

.alpaca-field-checkbox .alpaca-control.checkbox {
  margin: 0 0 0 8px;
  // margin-bottom: 0px;
  display:inline-block;
}

.alpaca-array-actionbar {
  .btn-default.disabled:hover,
  .btn-default.disabled:focus,
  .btn-default.disabled.focus,
  .btn-default[disabled]:hover,
  .btn-default[disabled]:focus,
  .btn-default[disabled].focus,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus,
  .btn-default.alpaca-button-disabled {
    color:$btn-link-disabled-color;
    background-color: transparent;
    border-color: transparent;
  }

  .btn-default {
    background-color: transparent;
    border-color: transparent;
    color: color(actionable);
    font-size: 16px;
    border-color: transparent;
    &:first-of-type{
      padding-left: 0px;
    }
    &:last-of-type{
      padding-right: 19px;
    }
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color:darken(color(actionable), 15%);
    }
  }
}

.alpaca-container span[data-toggle=collapse] {
  display:block;
  position:relative;
}
.alpaca-container span[data-toggle=collapse]:after {
  content:' Click to collapse';
  display:inline-block;
  margin-left:8px;
  font-size:60%;
  color:$headings-small-color;
}
.alpaca-container span[data-toggle=collapse].collapsed:after {
  content:' Click to expand';
}

//
.alpaca-field-table .table-responsive {
  border-width: 0px;
  padding-top: 15px;
  .table thead > tr > th {
    background-color: darken(color(accent), 5%);
  }
  .table > tbody > tr{
    td {
      border-width:0px;
    }
    &:nth-child(even){
      background-color: darken(color(accent), 5%);
    }
  }
//   border-collapse: collapse;
//   td { border:1px solid $input-border; }
//
//   .table > tbody > tr:first-child td {
//     border-width:1px;
//   }
//
  .alpaca-array-actionbar-top {
    padding:0 4px;
    position:static;
  }

  .alpaca-array-actionbar:before{
    font-size: 13px;
    margin: 0 0;
  }

  .form-group{
    margin-bottom: 0px;
  }
//
//   .alpaca-field-checkbox {
//     padding:0 4px;
//   }
//
//   .form-control {
//     border-width:1;
//     border-color:transparent;
//     padding:2px 0 2px 4px;
//     &:focus { border-color:$input-border-focus; }
//   }
//
  .btn {
    font-size:12px;
    float:none;
    padding:0;
    border-width:0;
    margin:0 8px 0 0;
    &.btn-sm{
      padding: 3px 5px;
    }
  }
//
//   td { padding:0; background-color:$input-bg; }
//   th { padding:2px; }
//
//   .form-group { margin-bottom: 0; }
//
  tbody .alpaca-control-label { display:none; }
}

.form-group{
  .checkbox + .help-block{
    padding-left: 38px;
  }
}

.help-block, .help-block .glyphicon{
  color: color(actionable, dark);
}

.has-error .help-block .glyphicon{
  color: color(negative);
}
