// star for required fields? this is the easeist way to adjust that
.glyphicon-star:before {
  font-family: $font-family-sans-serif;
  content: "*";
  margin-right: 3px;
}

// so we can keep alert box content flush
.alert > .container-fluid {
  padding:0;
}

td.actionbar .btn-group button {
  margin-right: 0;
  font-size: 1.1em;
}

.alpaca-array-actionbar-bottom {
  position:absolute;
  bottom:0;
  right:0;
}

.alpaca-array-actionbar-top {
  position:absolute;
  top:0;
  right:0;
}

.alpaca-container-item {
  position:relative;
}

.alpaca-array-actionbar {
  .btn-default.disabled:hover,
  .btn-default.disabled:focus,
  .btn-default.disabled.focus,
  .btn-default[disabled]:hover,
  .btn-default[disabled]:focus,
  .btn-default[disabled].focus,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus,
  .btn-default.alpaca-button-disabled {
    color:$btn-link-disabled-color;
    background-color: transparent;
    border-color: transparent;
  }

  .btn-default {
    background-color: transparent;
    border-color: transparent;
    &:hover {
      color:$link-hover-color;
    }
  }
}

.alpaca-field-table .table-responsive {
  margin: 0 -19px;

  .alpaca-array-actionbar-top {
    padding:0 4px;
    position:static;
  }

  .form-control {
    border-width:0;
    padding:2px 0 2px 4px;
  }

  .btn {
    font-size:12px;
    float:none;
    padding:0;
    border-width:0;
    margin:0;
  }

  tbody td:not(:first-child) { border-left:1px solid $input-border; }
  tbody tr { border-bottom:1px solid $input-border; }
  tbody tr:first-child { border-top:1px solid $input-border; }

  td { padding:0; background-color:$input-bg; }
  th { padding:2px; }

  .form-group { margin-bottom: 0; }

  tbody .alpaca-control-label { display:none; }


}

