//lets add some padding to crunched page bottoms
#main {
  padding-bottom: 25px;
}

#spinner {
  width: 18px;
  height: 18px;
  position:relative;
}
#spinner img {
  max-width:100%;
}

#nav {
  margin: 0;
  padding: 5px 0;
}

label.block {
  display: block;
}

.margin-top {
  margin-top: 35px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.tab-content {
  margin-top:20px;
}

#screenshots img {
  max-width: 100%;
}

#blueprint-data { height:300px; }

.preview-frame {
  margin: 25px auto;

  &.large-view {
    width:720px;
  }
  &.medium-view {
    width:500px;
  }
  &.small-view {
    width:320px;
  }

  iframe {
    display:block;
  }
}

#save-warning{
  display: none;
}

#embed-preview {
  position:relative;
  border: 2px dashed #ccc;
  .overlay { display: none; }

  &.loading .overlay {
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    background-color:rgba($black, 0.6);
    color:white;
    font-size:40px;
    padding-top:40px;
    text-align:center;
  }
}

footer {
  margin-top:20px;
}

.pane {
  overflow:hidden;
}

//broken radio button fixes
.radio label, .checkbox label {
  padding-left: 25px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: -10px 10px 0;
}

//status notifications and alerts
.m-status {
  display: block;
  font-size: 11px;
  text-transform: capitalize;
  &.status-ok {
    color: $green;
  }
  &.status-info {
    color: $orange;
  }
  &.status-alert {
    color: $red;
  }
}

.status-ok {
  color: $green;
}
.status-info {
  color: $orange;
}
.status-alert {
  color: $red;
}

//alerts in tables
.table td {
  &.ok-notice,
  &.info-notice,
  &.alert-notice {
    padding-top: 20px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 5px;
      left: 0;
      top: -1px;
      bottom: 0;
    }
  }
  &.ok-notice:before {
    background-color: $green;
  }
  &.info-notice:before {
    background-color: $orange;
  }
  &.alert-notice:before {
    background-color: $red;
  }
}
.table td:last-child {
  white-space:nowrap;
}

//nav
.navbar-nav > li { float: left; }

#nav {
  .navbar-brand {
    font-weight: bold;
    font-size: 37px;
    padding: 5px 0;
    height: auto;
    line-height: 1;
    &:before {
      content: "";
      background-image: image-url('autotune/logo.png');
      background-image: image-url('autotune/logo.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      height: 33px;
      margin-bottom: -5px;
      margin-right: 8px;
      width: 30px;
    }
  }
}

//subnav
.m-sub-nav {
  background-color: $gray-lighter;
  display: block;
  margin: 0 0 25px 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    a,
    button {
      border: none;
      background-color: transparent;
      color: $gray-darker;
      display: block;
      padding: 10px;
      &:hover {
        background-color: darken($gray-lighter, 5%);
        text-decoration: none;
      }
    }
  }
}

//page headings
.m-page-heading {
  padding: 50px 0;
  h3 {
    margin: 0;
    font-size: 31px;
    font-weight: bold;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    padding:20px 0;
  }
}

//tables
.select, .alpaca-field-select {
  display: inline-block;
  position: relative;
}

@media (max-width: $screen-md-max) {
  #blueprint_title { width:160px; }
}
@media (max-width: $grid-float-breakpoint-max) {
  #blueprint_title { width:120px; }
}

.m-table-heading {
  background-color: $gray-darker;
}
.table > tbody > tr.m-table-heading > td {
  padding: 5px 15px;
  color: #FFF;
}
.table {
  &> thead > tr {
    background-color: $gray-lighter;
    color: $gray-darker;
  }
  tbody > tr:nth-of-type(even) {
    background: $gray-lighter;
  }
  &.projects {
    tbody > tr > td {
      &:nth-child(1) {
        width: 35%;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        width: 15%;
      }
      &:nth-child(5){
        width: 20%;
      }
    }
  }
}

//inputs
/*
input {
  border: 2px solid #CCC;
  border-radius: 0;
  color: #3F3F3F;
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px;
  font-size: 13px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus {
    border-color: #048AAF;
    outline: 0;
  }
}

label {
  font-weight: normal;
}
*/

//dropdowns
/*
.select,
.alpaca-field-select {
  display: inline-block;
  position: relative;
  select {
    padding-right: 30px;
  }
  &:after {
    content: "\e114";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray-darker;
    font-size: 10px;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    bottom: 12px;
  }
}
*/

//blueprint-chooser
.m-blueprint-chooser {
  .thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border: none;
    border-radius: 0;
    &:before {
      content: "";
      background-color: $primary;
      opacity: 0.75;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity ease-in-out 0.3s;
      -webkit-transition: opacity ease-in-out 0.3s;
    }
    &:hover:before {
      opacity: 0.95;
    }
    h4 {
      padding: 20% 0;
      color: white;
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

//tooltips
[data-tooltip] {
  position: relative;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
  font-family: $font-family-sans-serif;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -50px;
  padding: 7px;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: $black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid $black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

