//lets add some padding to crunched page bottoms
// $screen-sm: 675px;

html{
  overflow-x:hidden;
  height: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: bold;
  +hr{
    margin-top: 0px;
  }
}

#main {
  padding-bottom: 25px;
  // margin-top: 25px;
}

.container{
  width: 100%;
  max-width: 1300px;
  padding: 1rem;
  margin: auto;
  .row{
    margin: 0 -15px;
  }
}

.row{
  margin: 0;
}

#project-tabs{

}

.tab-pane .container, .tab-content .container{
  max-width: 900px;
  margin-bottom: 150px;
}

.tab-pane{
  overflow-y: scroll;
  .tab-pane{
    overflow: hidden;
  }
}

.tab-pane{
  @media (max-width: 1040px){
    .scroll-pane{
      padding-top: 35px;
    }
    .container{
      padding-top: 20px;
    }
  }
}

#spinner {
  width: 16px;
  height: 16px;
  position:relative;
}
#spinner img {
  max-width:100%;
}

#nav {
  top: 0;
  margin: 0;
}

label.block {
  display: block;
}

.margin-top {
  margin-top: 35px;
}

.margin-bottom {
  margin-bottom: 25px;
}

#screenshots img {
  max-width: 100%;
}

#blueprint-data {
  height:300px;
  border:1px solid color(border);
}

.preview-frame {
  margin: 25px auto;

  &.fluid-view {
    width:100%;
  }
  &.medium-view {
    width:720px;
  }
  &.small-view {
    width:320px;
  }

  iframe {
    display:block;
  }
}

#save-warning{
  display: none;
}

.btn{
  margin-right: 8px;
}

#navbar-save-container{
  display:inline;
  .project-save-warning, .project-saved{
    display: none;
    padding: 3px 15px;
    color: #ffffff;
    font-size: 12px;
    button{
      font-size: 12px;
      padding: 2px 5px;
      margin-left: 5px;
    }
    .glyphicon{
      margin-right: 7px;
      font-size: 11px;
      vertical-align: top;
      &.glyphicon-alert{
        vertical-align: baseline;
      }
    }
  }
  .project-saved{
    padding: 6px 15px;
  }
  @media (min-width: $screen-sm){
    display: block;
    position: absolute;
    top: 35px;
    .project-save-warning, .project-saved{
      color: color(background, dark);
    }
  }
}

#embed-preview {
  position:relative;
  &.validation-error{
    .overlay{ display: none; }
    &:after{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F5F5F5;
      height: 250px;
      font-size: 16px;
      text-align: center;
      content: 'Fill out the project information to see a preview.';
    }
  }
  &.screen{
    .overlay {
      span{
        display: none;
      }
      display:block;
      position:absolute;
      top:0; right:0; bottom:0; left:0;
      background-color: transparent;
    }
  }
  &.loading{
    .overlay {
      display:block;
      position:absolute;
      top:0; right:0; bottom:0; left:0;
      background-color:rgba($black, 0.6);
      color:white;
      font-size:35px;
      padding-top:60px;
      text-align:center;
      min-height: 175px;
      &:after{
        display: inline;
        content: 'Loading';
      }
    }
  }
  &.building{
    .overlay {
      display:block;
      position:absolute;
      top:0; right:0; bottom:0; left:0;
      background-color:rgba($black, 0.6);
      color:white;
      font-size:35px;
      padding-top:60px;
      text-align:center;
      min-height: 175px;
      &:after{
        display: inline;
        content: 'Building';
      }
    }
  }
}

footer {
  margin-top:20px;
}

.pane {
  overflow:hidden;
}

//broken radio button fixes
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: -10px 10px 0;
}

#alert-area{
  .ui-pnotify .ui-pnotify-shadow{
    box-shadow: none;
  }
  .ui-pnotify-icon, .ui-pnotify-icon span{
    float: none;
    display: inline;
    // margin-right: 10px;
  }
  .ui-pnotify-text{
    display: inline;
  }
  .alert{
    padding: 4px;
    text-align: center;
    border-radius: 0px;
  }
}

.ui-pnotify-icon .glyphicon{
  color: #ffffff;
}

.ui-pnotify.center-top-notification{
  right: 0;
  left: 0;
  margin: auto;
  top: 0px;
  height: 28px;
  font-size: 12px;
}

.pub-time{
  color: color(secondary);
  font-size: 75%;
  margin-top: 3px;
}

//status notifications and alerts
.m-status, .m-status .glyphicon {
  display: inline-block;
  // font-size: 10px;
  text-transform: capitalize;
  &.status-ok {
    color: color(positive);
  }
  &.status-info {
    color: color(cautionary);
  }
  &.status-alert {
    color: color(negative);
  }
}
.m-status .glyphicon{
  font-size: 10px;
}

.status-ok {
  color: color(positive);
}
.status-info {
  color: color(cautionary);
}
.status-alert {
  color: color(negative);
}

.small-list-view{
  display: none;
  @media (max-width: $screen-sm){
    display: inline;
  }
}

//alerts in tables
table.table.collection tbody tr td {
  color: color(text);
  &.text-right{
    .glyphicon{
      color: color(text);
      display: inline-block;
    }
    a{
      &:first-of-type{
        span{
          margin-left: 0px;
        }
      }
      &:last-of-type{
        span{
          margin-right: 0px;
        }
      }
      &:only-of-type{
        span{
          margin: 0 6px;
        }
      }
    }
  }
  a.title {
    color: color(text);
    display: table-cell;
  }
}

table.table.collection.project-list{
  tbody tr{
    &.m-table-heading td.project-cell, &.m-table-heading td.bold-actions-cell{
      color: color(actionable);
    }
    td{
      color: color(actionable);
      &.project-cell, &.bold-actions-cell{
        color: color(text);
      }
  }
    // needs to be replaced with small bp scss variable
    @media (max-width: $screen-sm){
      display: block;
      width: 100% !important;
      border: none;
      padding: 2px 0px;
      font-size: 90%;
      &.project-cell{
        border-top: 2px solid color(border);
        margin-top: 25px;
        padding: 15px 0px 10px 0px;
        font-size: 100%;
      }
      &.status-cell{
        display: none;
      }
      &.bold-actions-cell{
        padding: 15px 0px 0px 0px;
      }
      &.text-right{
        text-align: left;
      }
      .glyphicons{
        font-size: 90%;
      }
      .pub-time{
        display: inline-block;
        font-size: 100%;
        &:before{
          content: "- ";
        }
      }
    }
  }
  .m-table-heading{
    @media (max-width: $screen-sm){
      display: none;
    }
  }
}
.table td:last-child {
  white-space:nowrap;
}

//nav
.navbar{
  min-height: 30px;
  z-index: 3;
  .navbar-header{
    @media (max-width: 767px){
      float: none;
    }
  }
}

.navbar-text{
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 9px;
}

.navbar-collapse{
  padding: 0;
}

#nav .navbar-nav{
  float: right;
  li {
    float: left;
    a{
      padding: 7px 0;
    }
    &.small-nav{
      display: none;
      a.navbar-brand{
        margin-left: -26px;
        padding: 0 0;
      }
    }
  }
  @media (max-width: $screen-sm){
    display: block;
    float: left;
    width: 100%;
    li, li.small-nav{
      float: none;
      display: block;
      font-size: 18px;
      padding: 10px 0 10px 33px;
      border-bottom: 1px solid color(background, dark);
      &:last-of-type{
        border-bottom: none;
      }
      &.active a:after, .active a:hover:after{
        display: none;
      }
    }
  }
}

.navbar-toggle{
  float: left;
  margin: 0 2px 0 0;
  padding: 0px 0;
  border: none;
  border-radius: 0px;
  border-right: 1px solid color(backgroud, dark);
  height: 32px;
  .icon-bar{
    top: 0px;
    border-radius: 0px;
  }
}

.small-nav{
  display: none;
  @media (max-width: 767px){
    display: block;
  }
}

.big-nav{
  display: inline-block;
  @media (max-width: 767px){
    display: none;
  }
}

#nav {
  a{
    color: color(background);
    &:hover{
      color: darken(color(background), 20%);
    }
    &.navbar-brand {
      font-size: 20px;
      padding: 0 0 0 3px;
      margin: 3px 0;
      height: auto;
      line-height: 1;
      perspective: 1000;
      display: table-cell;
      &:hover{
        &:before{
          transform: rotateY(180deg);
        }
      }
      &:before {
        content: "";
        background-image: image-url('autotune/logo.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        height: 26px;
        margin-right: 8px;
        width: 26px;
        transform: rotateY(0deg);
        vertical-align: text-top;
        transform-style: preserve-3d;
        transition: all 150ms linear;
      }
      &.big-nav{
        display: inline-block;
        @media (max-width: 767px){
          display: none;
        }
      }
    }
  }
}

//subnav
.m-sub-nav {
  background-color: $gray-lighter;
  display: block;
  margin: 0 0 25px 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    a,
    button {
      border: none;
      background-color: transparent;
      color: $gray-darker;
      display: block;
      padding: 10px;
      &:hover {
        background-color: darken($gray-lighter, 5%);
        text-decoration: none;
      }
    }
  }
}

//page headings
.m-page-heading {
  padding: 40px 0 0 0px;
  &.list{
    padding: 50px 0 0 0;
    margin-bottom: 20px;
  }
  h3 {
    margin: 0;
    // font-size: 31px;
    font-weight: bold;
  }
  &.contain{
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    margin-top: 30px;
    .btn{
      margin-left: 10px;
      vertical-align: bottom;
    }
  }

  @media (max-width: $grid-float-breakpoint-max) {
    padding:20px 0;
  }
}

//tables
.select, .alpaca-field-select {
  display: inline-block;
  position: relative;
}
//
// @media (max-width: $screen-md-max) {
//   #blueprint_title { width:160px; }
// }
// @media (max-width: $grid-float-breakpoint-max) {
//   #blueprint_title { width:120px; }
// }

// .m-table-heading {
//   background-color: $gray-darker;
// }
// .table > tbody > tr.m-table-heading > td {
//   padding: 5px 15px;
//   color: #FFF;
// }
.table {
  // &> thead > tr {
  //   background-color: color(actionable);
  //   // color: $gray-darker;
  //   color: #fff;
  // }
  // tbody > tr:nth-of-type(even) {
  //   background: $gray-lighter;
  // }
  &.collection {
    tr.m-table-heading > td {
      padding-top: 35px;
      text-transform: uppercase;
      color: color(actionable);
      border-bottom: 3px solid color(border);
      &.bold-actions-cell{
        text-align: right;
        padding-right: 37px;
      }
    }
    tbody > tr {
      td {
        padding: 10px 15px;
        &:nth-child(1) {
          width: 35%;
        }
      }
    }
    @media (max-width: 580px) and (min-width: 500px){
      margin-top: 40px;
    }
  }
}

//blueprint-chooser
.m-blueprint-chooser {
  .thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border: none;
    border-radius: 0;
    &:before {
      content: "";
      background-color: $primary-color;
      opacity: 0.75;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity ease-in-out 0.3s;
      -webkit-transition: opacity ease-in-out 0.3s;
    }
    &:hover:before {
      opacity: 0.95;
    }
    h4 {
      padding: 20% 0;
      color: white;
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

//tooltips
[data-tooltip] {
  position: relative;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
  font-family: $font-family-sans-serif;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -50px;
  padding: 7px;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: $black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid $black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.modal-dialog{
  width: 100%;
  max-width: 400px;
  margin: 200px auto 0 auto;
  z-index: 1051;
  .glyphicon, p{
    display: table-cell;
  }
  p{
    padding-top: 7px;
  }
  .glyphicon{
    font-size: 27px;
    vertical-align: middle;
    width: 41px;
    top: 4px;
  }
  .modal-footer{
    border-width: 0px;
    padding-top: 0px;
  }
}

.blueprint-title{
  margin-top: 0px;
  margin-bottom: 3px;
  color: color(actionable);
  text-transform: uppercase;
  + p {
    text-transform: none;
    color: color(actionable);
  }
}

.scroll-pane{
  padding-top: 25px;
  // position: fixed;
  height: 100%;
  overflow-y: scroll;
  h4{
    margin-top: 0px;
  }
  @media (max-width: $screen-sm){
    position: relative;
    h4{
      display: none;
    }
  }
}

#preview-pane{
  position:fixed;
  padding: 15px 15px;
  ul.nav{
    display: none;
  }
  &::-webkit-scrollbar {
    background-color: color(background);
  }
  @media (max-width: $screen-sm){
    margin-left: 0px;
    position: relative;
    overflow-y: auto;
    ul.nav{
      display: block;
      text-align: center;
    }
  }
  @media (max-width: 500px){
    ul.nav{
      display: none;
    }
  }
}

#form-pane, #preview-pane{
  padding-bottom: 70px;
  @media (max-width: $screen-sm){
    padding-bottom: 20px;
  }
}

#form-pane{
  background-color: color(accent);
  position:fixed;
  right:0px;
  padding-bottom: 50px;
  @media (max-width: $screen-sm){
    position: relative;
    float: none;
    ul.nav{
      display: none;
    }
  }
  #projectForm{
    padding: 25px 0 0 0;
    width: 100%;
    // max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
  }
}

$nav-break: 550px;
.list-page-header{
  margin-top: 25px;
  width: 100%;
  .new-button{
    display: inline;
    width: 110px;
    @media (max-width: $nav-break){
      margin-bottom: 30px;
      display: block;
    }
  }
  .text-right{
    display: inline-block;
    // width: 100%;
    // max-width: 450px;
    float: right;
    vertical-align: top;
    form{
      width: inherit;
      min-width: 408px;
      @media (max-width: $nav-break){
        min-width: 100%;
      }
    }
    .filter-label{
      display:inline;
      float: left;
      margin-left: 0px;
      @media (max-width: $nav-break){
        float: left;
        display: block;
        margin: -15px 0 5px 0;
      }
    }
    .input-group{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
      #search{
        max-width: 276px;
      }
      .btn{
        margin-right: 0px;
      }
      @media (max-width: $nav-break){
        width: 100%;
        margin-left: 0px;
        #search{
          max-width: 100%;
        }
      }
    }
    .input-group-btn{
      width: auto;
    }
    .filters{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-left: 0px;
      // .form-inline .form-control{
      //   @media (min-width: 768px){
      //     width:100%;
      //   }
      // }
      div{
        flex-grow: 1;
        // flex-basis: auto;
        select{
          width:100%;
        }
        &:nth-of-type(2){
          margin-left: 0px;
        }
        &#inline-filter{
          @media (max-width: $nav-break){
            display: none;
          }
        }
      }
    }
    @media (max-width: $nav-break){
      width: 100%;
      max-width: 100%;
      display: block;
    }
  }
}

#break-filter{
  display: none;
  text-align: left;
  margin: 0px 0 10px 0px;
  @media (max-width: $nav-break){
    display: block;
  }
}

.pagination{
  // display: table;
  // margin: auto;
  width:100%;
  display: flex;
  .pagination{
    width: initial;
    margin: 0 auto;
    justify-content: center;
  }
  li{
    &.ellipses span{
      cursor: default;
      background-color: transparent;
      border-color: transparent;
      color: color(text);
      margin-top: -4px .33em 0 .33em;
      padding: .2em .5em;
    }
    a{
      border-radius: 3px;
      border-color: color(text, dark);
      background-color: color(text, dark);
      color: color(text);
      padding: .2em .5em;
      margin: 0 .33em;
      &:hover, &:focus{
        background-color: color(border, dark);
        border-color: color(border, dark);
        color: color(background);
      }
    }
    &.active a, &.active a:hover, &.active a:focus{
      background-color: color(background, dark);
      border-color: color(background, dark);
      color: color(background);
    }
  }

  li.previous{
    justify-content: flex-start;
  }
  li.next{
    justify-content: flex-end;
  }
}

#shareText{
  width: 50%;
}

#embedText, #shareText{
  margin: 15px 0;
}

#spreadsheet-button{
  margin-top: 8px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

#publishBtn div{
  display: inline;
  &:before {
    color: #ffffff;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1800ms infinite;
    animation: ellipsis steps(4,end) 1800ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
}

#small-view:before{
  background-image: image-url('autotune/size-mobile.svg');
  content: "";
  background-size: 100%;
  background-repeat:no-repeat;
	background-position:center center;
  display: inline-block;
  height: 26px;
  width: 26px;
  margin-bottom: -4px;
}

#medium-view:before{
  background-image: image-url('autotune/size-tablet.svg');
  content: "";
  background-size: 100%;
  background-repeat:no-repeat;
	background-position:center center;
  display: inline-block;
  height: 26px;
  width: 26px;
  margin-bottom: -4px;
}

#fluid-view:before{
  background-image: image-url('autotune/size-desktop.svg');
  content: "";
  background-size: 100%;
  background-repeat:no-repeat;
	background-position:center center;
  display: inline-block;
  height: 26px;
  width: 26px;
  margin-bottom: -4px;
}

#split-bar {
  background-color: transparent;
  height: 100%;
  width: 6px;
  cursor: col-resize;
  position: fixed;
  top: 0px;
  margin-left: -14px;
}
