//lets add some padding to crunched page bottoms
html{
  overflow-x:hidden;
}
#main {
  padding-bottom: 25px;
  // margin-top: 25px;
}

.container{
  width: 100%;
  max-width: 1300px;
  padding: 1rem;
  margin: auto;
  .row{
    margin: 0 -15px;
  }
}

.row{
  margin: 0;
}

.tab-pane .container, .tab-content .container{
  max-width: 900px;
}

.tab-pane{
  @media (max-width: 1040px){
    .scroll-pane{
      padding-top: 45px;
    }
    .container{
      padding-top: 50px;
    }
  }
}

#spinner {
  width: 18px;
  height: 18px;
  position:relative;
}
#spinner img {
  max-width:100%;
}

#nav {
  top: 0;
  margin: 0;
}

label.block {
  display: block;
}

.margin-top {
  margin-top: 35px;
}

.margin-bottom {
  margin-bottom: 25px;
}

#screenshots img {
  max-width: 100%;
}

#blueprint-data { height:300px; }

.preview-frame {
  margin: 25px auto;

  &.large-view {
    width:720px;
  }
  &.medium-view {
    width:500px;
  }
  &.small-view {
    width:320px;
  }

  iframe {
    display:block;
  }
}

#save-warning{
  display: none;
}

#navbar-save-container{
  display:inline;
  .project-save-warning{
    display: none;
    padding: 4px 15px;
    color: #ffffff;
    .glyphicon{
      margin-right: 7px;
    }
  }
  @media (max-width: 1040px){
    display: none;
  }
}

#project-save-warning-container{
  display: block;
  position: fixed;
  width: 100%;
  text-align: center;
  display: block;
  background-color: color(background);
  z-index: 1;
  margin-top: -1px;
  border-bottom: 1px solid color(border);
  .project-save-warning{
    display: none;
    color: color(text);
    padding: 6px 5px 5px 5px;
    .glyphicon{
      margin-right: 10px;
    }
  }
  @media (min-width: 1040px){
    display: none;
  }
}

#embed-preview {
  position:relative;
  border: 2px dashed #ccc;
  .overlay { display: none; }

  &.loading .overlay {
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    background-color:rgba($black, 0.6);
    color:white;
    font-size:40px;
    padding-top:40px;
    text-align:center;
  }
}

footer {
  margin-top:20px;
}

.pane {
  overflow:hidden;
}

//broken radio button fixes
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: -10px 10px 0;
}

.ui-pnotify-icon .glyphicon{
  color: #ffffff;
}

.ui-pnotify.center-notification{
  right: 0;
  left: 0;
  margin: auto;
  max-width: 750px;
  top: 50px;
}

.pub-time{
  color: color(secondary);
  font-size: 75%;
  margin-top: 3px;
}

//status notifications and alerts
.m-status, .m-status .glyphicon {
  display: inline-block;
  // font-size: 10px;
  text-transform: capitalize;
  &.status-ok {
    color: color(positive);
  }
  &.status-info {
    color: color(cautionary);
  }
  &.status-alert {
    color: color(negative);
  }
}
.m-status .glyphicon{
  font-size: 10px;
}

.status-ok {
  color: color(positive);
}
.status-info {
  color: color(cautionary);
}
.status-alert {
  color: color(negative);
}

//alerts in tables
.table td {
  color: color(actionable, dark);
  &.text-right .glyphicon{
    color: color(actionable);
    display: inline-block;
  }
  a.title {
    color: color(actionable);
    display: table-cell;
  }
  &:first-child{
    .m-status{
      display: table-cell;
      left: -10px;
      position: relative;
    }
  }

  &.bold-actions-cell{
    @media (max-width: 625px){
      display: none;
    }
  }

  &.theme-cell{
    @media (max-width: 500px){
      display: none;
    }
  }

  &.author-cell{
    @media (max-width: 410px){
      display: none;
    }
  }
  // &.ok-notice,
  // &.info-notice,
  // &.alert-notice {
  //   padding-top: 20px;
  //   position: relative;
  //   &:before {
  //     content: "";
  //     position: absolute;
  //     width: 3px;
  //     left: 0;
  //     top: -1px;
  //     bottom: 0;
  //   }
  // }
  // &.ok-notice:before {
  //   background-color: color(positive);
  // }
  // &.info-notice:before {
  //   background-color: color(cautionary);
  // }
  // &.alert-notice:before {
  //   background-color: color(negative);
  // }
}
.table td:last-child {
  white-space:nowrap;
}

//nav
.navbar{
  min-height: 30px;
  z-index: 3;
}

.navbar-text{
  margin-top: 9px;
  margin-bottom: 9px;
}

.navbar-nav{
  float: right;
  li { float: left; }
}

#nav {
  a.navbar-brand {
    // font-weight: bold;
    font-size: 20px;
    padding: 4px 0 4px 3px;
    height: auto;
    line-height: 1;
    color: color(background);
    perspective: 1000;
    &:hover{
      color: darken(color(background), 20%);
      &:before{
        transform: rotateY(180deg);
      }
    }
    &:before {
      content: "";
      background-image: image-url('autotune/logo.png');
      background-image: image-url('autotune/logo.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      height: 25px;
      margin-right: 8px;
      width: 26px;
      transform: rotateY(0deg);
      vertical-align: text-top;
      transform-style: preserve-3d;
      transition: all 150ms linear;
    }
  }
}

//subnav
.m-sub-nav {
  background-color: $gray-lighter;
  display: block;
  margin: 0 0 25px 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    a,
    button {
      border: none;
      background-color: transparent;
      color: $gray-darker;
      display: block;
      padding: 10px;
      &:hover {
        background-color: darken($gray-lighter, 5%);
        text-decoration: none;
      }
    }
  }
}

//page headings
.m-page-heading {
  padding: 40px 0 0 0px;
  &.list{
    padding: 50px 0 0 0;
    margin-bottom: 20px;
  }
  h3 {
    margin: 0;
    // font-size: 31px;
    font-weight: bold;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    padding:20px 0;
  }
}

//tables
.select, .alpaca-field-select {
  display: inline-block;
  position: relative;
}

@media (max-width: $screen-md-max) {
  #blueprint_title { width:160px; }
}
@media (max-width: $grid-float-breakpoint-max) {
  #blueprint_title { width:120px; }
}

// .m-table-heading {
//   background-color: $gray-darker;
// }
// .table > tbody > tr.m-table-heading > td {
//   padding: 5px 15px;
//   color: #FFF;
// }
.table {
  // &> thead > tr {
  //   background-color: color(actionable);
  //   // color: $gray-darker;
  //   color: #fff;
  // }
  // tbody > tr:nth-of-type(even) {
  //   background: $gray-lighter;
  // }
  &.collection {
    tr.m-table-heading > td {
      padding-top: 35px;
      text-transform: uppercase;
      color: color(actionable);
      border-bottom: 3px solid color(border);
    }
    tbody > tr {
      td {
        padding: 10px 15px;
        &:nth-child(1) {
          width: 35%;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          width: 15%;
        }
        &:nth-child(5){
          width: 20%;
        }
      }
    }
    @media (max-width: 580px) and (min-width: 500px){
      margin-top: 40px;
    }
  }
}

//inputs
/*
input {
  border: 2px solid #CCC;
  border-radius: 0;
  color: #3F3F3F;
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px;
  font-size: 13px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus {
    border-color: #048AAF;
    outline: 0;
  }
}

label {
  font-weight: normal;
}
*/

//dropdowns
/*
.select,
.alpaca-field-select {
  display: inline-block;
  position: relative;
  select {
    padding-right: 30px;
  }
  &:after {
    content: "\e114";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray-darker;
    font-size: 10px;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    bottom: 12px;
  }
}
*/

//blueprint-chooser
.m-blueprint-chooser {
  .thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border: none;
    border-radius: 0;
    &:before {
      content: "";
      background-color: $primary-color;
      opacity: 0.75;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity ease-in-out 0.3s;
      -webkit-transition: opacity ease-in-out 0.3s;
    }
    &:hover:before {
      opacity: 0.95;
    }
    h4 {
      padding: 20% 0;
      color: white;
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

//tooltips
[data-tooltip] {
  position: relative;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
  font-family: $font-family-sans-serif;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -50px;
  padding: 7px;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: $black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid $black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.modal-dialog{
  width: 100%;
  max-width: 400px;
  margin: 200px auto 0 auto;
  z-index: 1051;
  .glyphicon, p{
    display: table-cell;
  }
  p{
    padding-top: 7px;
  }
  .glyphicon{
    font-size: 27px;
    vertical-align: middle;
    width: 41px;
    top: 4px;
  }
  .modal-footer{
    border-width: 0px;
    padding-top: 0px;
  }
}

.blueprint-title{
  margin-top: 0px;
  color: color(actionable, dark);
  text-transform: uppercase;
}

.scroll-pane{
  padding-top: 25px;
  // position: fixed;
  height: 100%;
  overflow-y: scroll;
  h4{
    margin-top: 0px;
  }
  @media (max-width: $screen-sm){
    position: relative;
  }
}

#preview-pane{
  // margin-left: 15px;
  // padding: 25px 15px 0 15px;
  position:fixed;
  @media (max-width: $screen-sm){
    position: relative;
  }
}

#form-pane{
  background-color: color(accent);
  float: right;
  margin-left: 0px;
  #projectForm{
    padding: 25px 0 50px 0;
  }
}

h3#projectTitle {
  cursor: pointer;
  div, textarea{
    line-height: 1.25;
    display: inline;
  }
  .glyphicon{
    font-size: 13px;
    color: color(actionable, dark);
    vertical-align: top;
    margin-left: 7px;
  }
  textarea{
    cursor: text;
    padding: 0px;
    height: 28px;
    border-width:0px;
    overflow: hidden;
    display: none;
  }
  &:hover{
    .glyphicon{
      color: color(primary);
    }
  }
}

.list-page-header{
  width: 100%;
  .new-button{
    display: table-cell;
    width: 110px;
  }
  .text-right{
    display: table-cell;
    width: 100%;
    vertical-align: top;
    input, .filters{
      display: block;
      a{
        display: inline;
      }
    }
  }
  @media (max-width: 580px){
    .filters{
      position: absolute;
      right: 0px;
      width: 100%;
      span, div{
        width: 23%;
        margin-right: 2%;
        select{
          width: 100%;
        }
        &:last-child{
          margin-right: 10px;
        }
      }
    }
  }
  @media (max-width: 500px){
    .filters{
      position: relative;
      span{
        width: 110px;
        margin-left: -100px;
      }
      div{
        float:right;
        width: 100%;
        max-width: 261px;
        display: block;
        margin: 0 0 10px 0;
        select, #blueprint_title{
          width: 100%;
        }
        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }
  @media (max-width: 400px){
    .new-button, .text-right{
      display: block;
      width: 100%;
      a.btn{
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

input#search{
  width: 100%;
  max-width: 261px;
  float:right;
}
