//VARS

//color
$black: #282828;
$darkgrey: #3F3F3F;
$grey: #CCC;
$lightgrey: #F1F1F1;
$primary: #048AAF;
$green: #5CB85C; //success
$orange: #FFA039; //info
$red: #D9534F; //danger

//type
$bernino: "jaf-bernino-sans",sans-serif;

.-bernino {
  font-family: $bernino;
  font-style: normal;
  font-weight: 400;
}

.-bernino-ital {
  font-family: $bernino;
  font-style: italic;
  font-weight: 400;
}

.-bernino-semibold {
  font-family: $bernino;
  font-style: normal;
  font-weight: 600;
}

label {
  font-weight: normal;
}

//icons
[class^="icon-"] {
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 5px;
}

.icon-edit {
  background-image: image-url('autotune/icons/edit.png');
  background-image: image-url('autotune/icons/edit.svg');
  &:hover {
    background-image: image-url('autotune/icons/edit_hover.png');
    background-image: image-url('autotune/icons/edit_hover.svg');
  }
}

.icon-preview {
  background-image: image-url('autotune/icons/preview.png');
  background-image: image-url('autotune/icons/preview.svg');
  &:hover {
    background-image: image-url('autotune/icons/preview_hover.png');
    background-image: image-url('autotune/icons/preview_hover.svg');
  }
}

.icon-delete {
  background-image: image-url('autotune/icons/delete.png');
  background-image: image-url('autotune/icons/delete.svg');
  &:hover {
    background-image: image-url('autotune/icons/delete_hover.png');
    background-image: image-url('autotune/icons/delete_hover.svg');
  }
}

.icon-refresh {
  background-image: image-url('autotune/icons/refresh.png');
  background-image: image-url('autotune/icons/refresh.svg');
  &:hover {
    background-image: image-url('autotune/icons/refresh_hover.png');
    background-image: image-url('autotune/icons/refresh_hover.svg');
  }
}

//nav
$m : '.m-nav';

#{$m} {
  background-color: $darkgrey;
  .navbar-nav {
    float: right;
  }
  .navbar-brand {
    @extend .-bernino-semibold;
    font-size: 37px;
    padding: 5px 0;
    height: auto;
    line-height: 1;
    &:before {
      content: "";
      background-image: image-url('autotune/logo.png');
      background-image: image-url('autotune/logo.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      height: 33px;
      margin-bottom: -5px;
      margin-right: 8px;
      width: 30px;
    }
  }
  .navbar-nav > li.active a:after {
    width: 100%;
  }
  .navbar-default .navbar-nav > .active > a:hover {
    color: $grey;
  }
  .navbar-nav > li > a {
    padding: 16px 0 0;
    margin: 0 10px;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    &:after {
      background-color: $primary;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      height: 5px;
      width: 0;
      transition: width ease-in-out 0.3s;
      -webkit-transition: width ease-in-out 0.3s;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

//page headings
.m-page-heading {
  padding: 50px 0;
  h3 {
    @extend .-bernino-semibold;
    margin: 0;
    font-size: 31px;
  }
}

//tables
.m-table-heading {
  background-color: $darkgrey;
}
.table > tbody > tr.m-table-heading > td {
  padding: 5px 15px;
  color: #FFF;
}
.table {
  thead {
    background-color: $lightgrey;
  }
  tbody > tr:nth-of-type(even) {
    background: $lightgrey;
  }
}

//inputs
input {
  border: 2px solid #CCC;
  border-radius: 0;
  color: #3F3F3F;
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px 15px;
  font-size: 13px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus {
    border-color: #048AAF;
    outline: 0;
  }
}

//dropdowns
.select,
.alpaca-field-select {
  display: inline-block;
  position: relative;
  select {
    padding-right: 30px;
  }
  &:after {
    content: "";
    background-image: image-url('autotune/icons/dropdown.png');
    background-image: image-url('autotune/icons/dropdown.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
    bottom: 12px;
  }
}

//blueprint-chooser
$m : '.m-blueprint-chooser';

#{$m} {
  .thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    border: none;
    border-radius: 0;
    &:before {
      content: "";
      background-color: $primary;
      opacity: 0.75;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity ease-in-out 0.3s;
      -webkit-transition: opacity ease-in-out 0.3s;
    }
    &:hover:before {
      opacity: 0.95;
    }
    h4 {
      padding: 20% 0;
      color: white;
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

}

//tooltips
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -40px;
  padding: 7px;
  width: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: $black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid $black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
