//VARS

//color
$black: #282828;
$darkgrey: #3F3F3F;
$grey: #CCC;
$lightgrey: #F1F1F1;
$primary: #048AAF;
$green: #5CB85C; //success
$orange: #FFA039; //info
$red: #D9534F; //danger

//type

$bernino: "jaf-bernino-sans",sans-serif;

.-bernino {
  font-family: $bernino;
  font-style: normal;
  font-weight: 400;
}

.-bernino-ital {
  font-family: $bernino;
  font-style: italic;
  font-weight: 400;
}

.-bernino-semibold {
  font-family: $bernino;
  font-style: normal;
  font-weight: 600;
}

//nav
$m : '.m-nav';

#{$m} {
  background-color: $darkgrey;
  .navbar-nav {
    float: right;
  }
  .navbar-brand {
    @extend .-bernino-semibold;
    font-size: 37px;
    padding: 5px 15px;
    height: auto;
    line-height: 1;
  }
  .navbar-nav > li.active a:after {
    width: 100%;
  }
  .navbar-default .navbar-nav > .active > a:hover {
    color: $grey;
  }
  .navbar-nav > li > a {
    padding: 16px 0 0;
    margin: 0 10px;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    &:after {
      background-color: $primary;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      height: 5px;
      width: 0;
      transition: width ease-in-out 0.3s;
      -webkit-transition: width ease-in-out 0.3s;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

//page headings
.m-page-heading {
  padding: 50px 0;
  h3 {
    margin: 0;
    font-size: 31px;
  }
}

//tables
.m-table-heading {
  background-color: $darkgrey;
}
.table > tbody > tr.m-table-heading > td {
  padding: 5px 15px;
  color: #FFF;
}
.table {
  thead {
    background-color: $lightgrey;
  }
  tbody > tr:nth-of-type(even) {
    background: $lightgrey;
  }
}


