input#search{
  width: 100%;
  max-width: 200px;
  float:right;
}

#inline-filter {
	display: inline-block;
}

.filters .select {
	margin-bottom: 5px;
	z-index: initial !important;
	@media(max-width: 575px) {
		width: 100% !important;
		margin-left: 0;
	}
}

.selectize-target,
.selectize-control {
	z-index: 2;
}

.selectize-input {
	padding: 6px 8px;
	background-color: color(background);
  color: color(text);
  border: 2px solid color(border);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	max-height: 32px !important;
  input {
  	cursor: text;
  	//width: initial !important;
  }
  &.full input {
  	max-width: 0 !important;
  }
}

.selectize-control.single {
	margin-left: 0;
	.selectize-input {
		margin-left: 0;
		text-align: left;
		.item {
			margin: 0;
		}
		&:after {
			display: none;
		}
	}
}

.selectize-dropdown {
	position: absolute;
	width: -moz-fit-content !important;
  width: -webkit-fit-content !important;
	width: fit-content !important;
  margin: auto;   
	z-index: 5 !important;
	opacity: .99;
	@media(max-width: 575px) {
		width: 100% !important;
	}
	.option {
		text-align: left;
		min-width: 100%;
		white-space: nowrap;
		z-index: 5;
		@media(max-width: 575px) {
			width: 100% !important;
		}
		&.selected {
			background: none;
		}
		&.active {
			color: white;
			background: #27AAE1;
		}
	}
	.selectize-dropdown-content {
		margin-left: 0;
		z-index: 5;
	}
}

form.form-inline div.option {
	margin-left: 0;
}