/* Form editor */

#form-builder {
  padding-top: 33px;
  margin-bottom: -25px;
  height:100vh;
}

.has-alert #form-builder {
  padding-top: 60px;
}

.ace_editor {
  width:100%;
  height:100%;
}

#schema {
}
#previewWrap {
  overflow-y: auto;
}
#codeDiv {
  width: 100%;
  height: 100%;
}
.form-element {
  padding: 5px;
  border: 1px #ccc solid;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #eee;
  cursor:move;
}

.form-element-title {
  font-weight: 600;
}
#designer {
  position:relative;
}
#designerDiv .alpaca-container-item:not(:first-child) {
  margin:0;
}
.alpaca-container-item.ui-draggable {
  background-color:white;
}
.dropzone {
  clear: both;
  padding: 0px;
  margin: 4px 0;
  height: 2px;
}
.dropzone-highlight {
  background-color: #888;
}
.dropzone-hover {
  background-color: red;
}

.modal-header {
  background-color: #f5f5f5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ui-hover-state {
  background-color: #aaa !important;
  opacity: 0.1 !important;
}

.dashed {
  border: 1px #ccc dashed;
  padding: 10px;
}

.tab-content {
  height: calc(100% - 66px);
  top: 66px;
  position: fixed;
  width: 100%;
  background-color: color(background);
  @media(max-width: $screen-sm){
      overflow-y: scroll;
  }
  .tab-content{
    position: relative;
  }
}
.tab-pane {
  height: 100%;
}
.nav-tabs{
  text-align: center;
  border-bottom: none;
  position: fixed;
  top: 33px;
  width: 100%;
  background-color: color(background);
  z-index: 3;
  li{
    z-index: 3;
    display:inline-block;
    float: none;
    margin-left: -4px;
    background-color: transparent;
    a{
      color: color(actionable);
      margin: 0;
      vertical-align: middle;
      padding: 7px 15px;
      &:hover{
        border: 1px solid transparent;
        background-color: transparent;
      }
    }
    &.active a, &.active a:hover{
      font-weight: bold;
      border: 0px solid transparent;
    }
  }
  + .tab-content{
    border-top: 1px solid color(border);
  }
}
.ace_editor {
  border-width:1px;
}
/* end form editor */

.has-alert{
  #nav{
    top: 28px;
  }
  .nav-tabs{
    top: 60px;
  }
  .tab-content{
    top: 93px;
    height: calc(100% - 93px);
  }
  .m-page-heading, .container.projects{
    padding-top: 68px;
  }
}
