//icons
.text-right .glyphicon,
[class^="icon-"] {
  position: relative;
  top: 2px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: color(text);
  font-size: 15px;
  margin: 0 6px;
  &:not([disabled]):hover {
    cursor: pointer;
    color: color(primary);
    text-decoration: none;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: default;
    &:hover {
      color: color(disabled);
    }
    &:hover:before,
    &:hover:after {
      content: "";
    }
  }
}

.icon-edit {
  &:after { content: "\e065"; }
}
.icon-preview {
  &:after { content: "\e105"; }
}
.icon-delete {
  &:after { content: "\e020"; }
}
.icon-refresh {
  &:after { content: "\e031"; }
}
 //alert icons
.icon-ok,
.icon-alert,
.icon-info {
  font-size: 11px;
  margin: 0 3px 0 0;
}

.icon-ok, .glyphicon-ok {
  color: color(positive);
  // &:after {
  //   content: "\e013";
  //   color: color(positive);
  // }
}
.icon-alert, .glyphicon-warning-sign, .glyphicon-alert {
  color: color(negative);
  // &:after {
  //   content: "\e209";
  //   color: color(negative);
  // }
}
.icon-info, .glyphicon-info-sign {
  color: color(cautionary);
  // &:after {
  //   content: "\e086";
  //   color: color(cautionary);
  // }
}
