/*
 * Best way to deal with bootstrap: only add stuff to this file as a last resort. Try to achieve
 * the desired effect by adjusting the vars and the html structure first.
 */
@import "bootstrap-sprockets";
@import "autotune/custom_vars";
@import "autotune/vars";
@import "bootstrap";
@import "alpaca";
@import "pnotify";
@import "pnotify.buttons";
@import "bootstrap-datetimepicker";

// TODO: merge bootstrap_overrides, custom and the rest of this file
@import "autotune/bootstrap_overrides";
@import "autotune/custom";
@import "autotune/form_editor";

//lets add some padding to crunched page bottoms
#main {
  padding-bottom: 25px;
}

#spinner {
  width: 18px;
  height: 18px;
  position:relative;
}
#spinner img {
  max-width:100%;
}

#nav {
  margin: 0;
  padding: 5px 0;
}

label.block {
  display: block;
}

.margin-top {
  margin-top: 35px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.alpaca-field-array.alpaca-top,
.alpaca-field-object.alpaca-top { padding:10px 0; }
.alpaca-form-buttons-container { text-align:left; }

.tab-content {
  margin-top:20px;
}

#screenshots img {
  max-width: 100%;
}

#blueprint-data { height:300px; }

.preview-frame {
  margin: 25px auto;

  &.large-view {
    width:720px;
  }
  &.medium-view {
    width:500px;
  }
  &.small-view {
    width:320px;
  }
}

#embed-preview {
  position:relative;
  border: 2px dashed #ccc;
  .overlay { display: none; }

  &.loading .overlay {
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    background-color:rgba($black, 0.6);
    color:white;
    font-size:40px;
    padding-top:40px;
    text-align:center;
  }
}

footer {
  margin-top:20px;
}

.pane {
  overflow:hidden;
}

//broken radio button fixes
.radio label, .checkbox label {
  padding-left: 25px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: -10px 10px 0;
}

.navbar-nav > li { float: left; }

// let the rails project override anything
@import "autotune/custom_overrides";
