/*
 * Best way to deal with bootstrap: only add stuff to this file as a last resort. Try to achieve
 * the desired effect by adjusting the vars and the html structure first.
 */
@import "bootstrap-sprockets";
@import "autotune/custom_vars";
@import "autotune/vars";
@import "bootstrap";
@import "alpaca";
@import "pnotify";
@import "pnotify.buttons";
@import "bootstrap-datetimepicker";
@import "spectrum";

// TODO: merge bootstrap_overrides, custom and the rest of this file
@import "autotune/bootstrap_overrides";
@import "autotune/custom";
@import "autotune/form_editor";

//lets add some padding to crunched page bottoms
#main {
  padding-bottom: 25px;
}

#spinner {
  width: 18px;
  height: 18px;
  position:relative;
}
#spinner img {
  max-width:100%;
}

#nav {
  margin: 0;
  padding: 5px 0;
}

label.block {
  display: block;
}

.margin-top {
  margin-top: 35px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.alpaca-field-array.alpaca-top,
.alpaca-field-object.alpaca-top { padding:10px 0; }
.alpaca-form-buttons-container { text-align:left; }

.tab-content {
  margin-top:20px;
}

#screenshots img {
  max-width: 100%;
}

#blueprint-data { height:300px; }

.preview-frame {
  margin: 25px auto;

  &.large-view {
    width:720px;
  }
  &.medium-view {
    width:500px;
  }
  &.small-view {
    width:320px;
  }

  iframe {
    display:block;
  }
}

#save-warning{
  display: none;
}

.project-save-warning{
  display: none;
  padding: 17px 10px 13px 10px;
  color: #ffffff;
  margin: -5px 10px;
  .icon-alert{
    width: 26px;
    height: 22px;
    vertical-align: bottom;
  }
  .text-save-alert{

  }
  // button.btn-primary{
  //   border-width: 0px;
  //   margin: 0 5px;
  //   text-transform: none;
  //   border-radius: 5px;
  //   padding: 6px 10px;
  //   letter-spacing: normal;
  //   font-size: 12px;
  // }
}

.bbm-wrapper{
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.modal-dialog{
  width: 100%;
  max-width: 400px;
  margin: 200px auto 0 auto;
  z-index: 1051;
  i, p{
    display: table-cell;
  }
  p{
    padding-top: 7px;
  }
  .icon-alert{
    width: 50px;
    height: 28px;
    vertical-align: top;
    margin-right: 10px;
  }
  .modal-footer{
    border-width: 0px;
    padding-top: 0px;
    #dismiss.btn{
      border-bottom-color: #5E5E5E;
    }
    // button.btn{
    //   border-width: 0px;
    //   // margin: 0 5px;
    //   text-transform: none;
    //   border-radius: 5px;
    //   padding: 6px 10px;
    //   letter-spacing: normal;
    //   font-size: 12px;
    // }
  }
}

#saveModal{
  // display: none;
}

#embed-preview {
  position:relative;
  border: 2px dashed #ccc;
  .overlay { display: none; }

  &.loading .overlay {
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    background-color:rgba($black, 0.6);
    color:white;
    font-size:40px;
    padding-top:40px;
    text-align:center;
  }
}

footer {
  margin-top:20px;
}

.pane {
  overflow:hidden;
}

//broken radio button fixes
.radio label, .checkbox label {
  padding-left: 25px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: -10px 10px 0;
}

.navbar-nav > li { float: left; }

// let the rails project override anything
@import "autotune/custom_overrides";
