/*
 * Best way to deal with bootstrap: only add stuff to this file as a last resort. Try to achieve
 * the desired effect by adjusting the vars and the html structure first.
 */
@import "bootstrap-sprockets";
@import "custom";
@import "vars";
@import "bootstrap";
@import "bootstrap-overrides";

#spinner {
  width:20px;
  height:20px;
  position:relative;
}
#spinner img {
  max-width:100%;
}

#nav {
  margin: 0;
  padding: 5px 0;
}

.alpaca-field-array.alpaca-top,
.alpaca-field-object.alpaca-top { padding:10px 0; }

.tab-content {
  margin-top:20px;
}

#preview {
  border-top:35px solid #dfdfdf;
  border-left:1px solid #dfdfdf;
  border-bottom:1px solid #dfdfdf;
  border-right:1px solid #dfdfdf;
  border-radius:8px 8px 2px 2px;
}

footer {
  margin-top:20px;
}

.pane {
  overflow:hidden;
}

/* Form editor */
#schema {
  float: right;
  width: 50%;
  height: 100%;
}
#previewWrap {
  float: right;
  width: 50%;
  height: 100%;
  padding-right:3%;
  overflow-y: auto;
}
#codeDiv {
  width: 100%;
  height: 100%;
}
.form-element {
  padding: 5px;
  border: 1px #ccc solid;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #eee;
  cursor:move;
}

.form-element-title {
  font-weight: 600;
}
#designer {
  position:relative;
}
#designerDiv .alpaca-container-item:not(:first-child) {
  margin:0;
}
.alpaca-container-item.ui-draggable {
  background-color:white;
}
.dropzone {
  clear: both;
  padding: 0px;
  margin: 4px 0;
  height: 2px;
}
.dropzone-highlight {
  background-color: #888;
}
.dropzone-hover {
  background-color: red;
}

.modal-header {
  background-color: #f5f5f5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ui-hover-state {
  background-color: #aaa !important;
  opacity: 0.1 !important;
}

.dashed {
  border: 1px #ccc dashed;
  padding: 10px;
}

.tab-content {
  height: calc(100% - 47px);
}
.tab-pane {
  height: 100%;
}
.nav-tabs li {
  margin:5px 5px -1px;
}
.ace_editor {
  border-width:0 0 0 1px;
}
/* end form editor */
