<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br>
      <div class="well">
        <p>Looks like you haven't logged in with a Google account.</p>
        <p>As part of adding live preview to Autotune,
        we now have some blueprints that need to be able to access Google spreadsheet during the build process.
        Please authenticate with Google so that you can use our live preivew enabled blueprints.</p>
        <br />
        <a href="/auth/google_oauth2/" style="text-align:center;" class="btn btn-primary btn-xs">Authenticate with Google</a>
      </div>
    </div>
  </div>
</div>
