<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br>
      <div class="well">
        <p>You must link your Google account to Autotune in order to use spreadsheets
           and other docs in your projects. Please authenticate with Google to link
           your account to Autotune.</p>
        <br />
        <a href="/auth/google_oauth2/" style="text-align:center;" class="btn btn-primary btn-xs">Authenticate with Google</a>
      </div>
    </div>
  </div>
</div>
