<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br>
      <div class="well">
        You must be signed in to access Autotune.
        <%=link_to "Sign in?", login_path(root_path) %>
      </div>
    </div>
  </div>
</div>
