<ol class="breadcrumb">
  <li><a href="/">Blueprints</a></li>
  <li><a href="/blueprints/<%= blueprint.attributes.name %>/"><%= blueprint.attributes.name %></a></li>
  <li><a href="/blueprints/<%= blueprint.attributes.name %>/builds/">Builds</a></li>
  <li class="active">New</li>
</ol>

<div id="buildForm"></div>
