<div class="alert alert-<%=level %>" role="alert">
  <div class="container-fluid"><div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%=message %>
    </div>
  </div></div>
</div>
