<div class="container-fluid">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <nav class="navbar navbar-default" id="nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Autotune</a>
        <ul class="nav navbar-nav">
          <li data-tab="projects"><a href="/projects">Projects</a></li>
          <li data-tab="blueprints"><a href="/blueprints">Blueprints</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><div class="navbar-text" id="spinner">
            <img src="<%=app.config.spinner %>"></div></li>
        </ul>
      </div>
    </nav>
    <div id="flash"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="main"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <footer></footer>
  </div>
</div>
</div>
