<div id="alert-area"></div>
<nav class="navbar navbar-inverse" id="nav">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Autotune</a>
    <div class="navbar-text" id="spinner">
      <%=render(require('./spinner.ejs'), {color:'white'})%>
    </div>
    <div id="navbar-save-container">
      <div class="project-save-warning">
        <span class="glyphicon glyphicon-alert"></span>Your work is not saved.
        <button type="submit" class="btn btn-primary btn-sm"
                 id="savePreview" data-loading-text="Saving...">Save now</button>
      </div>
      <div class="project-saved">
        <span class="m-status"><span class="glyphicon glyphicon-ok"></span></span>Saved
      </div>
    </div>
  </div>
  <ul class="nav navbar-nav">
    <li data-tab="projects"><a href="/projects">Projects</a></li>
    <% if (hasRole('superuser')) { %>
    <li data-tab="blueprints"><a href="/blueprints">Blueprints</a></li>
    <% } %>
    <% if (hasRole('superuser') || hasRole('designer')) { %>
    <li data-tab="themes"><a href="/themes">Themes</a></li>
    <% } %>
    <li data-tab="faq"><a href="<%=app.config.faq_url %>" target="_blank">?</a></li>
    <!-- <li data-tab="feedback"><a href="https://docs.google.com/a/voxmedia.com/forms/d/1FZGfxov-3BcclKUMa0LkpaYL_4SOmCGGvuATBgNbzdg/viewform" target="_blank">Feedback</a></li> -->
  </ul>
</nav>
<div id="main">
  <div style="max-width:10em;margin:5em auto;">
    <%=render(require('./spinner.ejs'))%>
  </div>
</div>
