<nav class="navbar navbar-inverse" id="nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Autotune</a>
      <div class="navbar-text" id="spinner">
        <%=render(require('./spinner.ejs'), {color:'white'})%>
      </div>
      <ul class="nav navbar-nav">
        <li data-tab="projects"><a href="/projects">Projects</a></li>
        <% if (hasRole('superuser')) { %>
        <li data-tab="blueprints"><a href="/blueprints">Blueprints</a></li>
        <% } %>
        <!--<% if (hasRole('superuser') || hasRole('designer')) { %>-->
        <!--<li data-tab="themes"><a href="/themes">Themes</a></li>-->
        <!--<% } %>-->
        <li data-tab="faq"><a href="<%=app.config.faq_url %>" target="_blank">FAQ</a></li>
        <li data-tab="feedback"><a href="https://docs.google.com/a/voxmedia.com/forms/d/1FZGfxov-3BcclKUMa0LkpaYL_4SOmCGGvuATBgNbzdg/viewform" target="_blank">Feedback</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="main">
  <div style="max-width:10em;margin:5em auto;">
    <%=render(require('./spinner.ejs'))%>
  </div>
</div>
