<h3><% if(isNew()) { %>New<% } else { %>Edit<% } %> Blueprint</h3>
<div class="alert alert-danger" role="alert" style="display:none;"></div>
<form id="new-blueprint" role="form"
      data-model="Blueprint" data-action="new">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" required class="form-control"
           <% if(!isNew()) { %>value="<%=attributes.title %>"<% } %>
           id="title" name="title" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="repo_url">Repo url</label>
    <input type="url" required class="form-control"
           <% if(!isNew()) { %>value="<%=attributes.repo_url %>"<% } %>
           id="repo_url" name="repo_url" placeholder="Enter repo url">
  </div>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>
