<h3>Choose a blueprint</h3>
<% if(collection.models.length == 0) { %>
  <div class="well text-center">
    <h4>There are no blueprints ready for use.</h4>
    <p>You must change the status of a blueprint to
      <span class="label label-success text-capitalize">ready</span> for it to appear here.</p>
  </div>
<% }
   var index = 0;
   _.each(collection.models, function(blueprint) { %>
  <% if(index % 3 == 0) { %>
  <% if(index != 0) { %></div><% } %>
<div class="row">
  <% } %>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="<%=blueprint.thumbUrl() %>" alt="<%=blueprint.get('title') %>">
      <div class="caption">
        <h4><%=blueprint.get('title') %></h4>
        <p><a href="<%=blueprint.url() %>/new_project"
              class="btn btn-sm btn-primary" role="button">Use this</a></p>
      </div>
    </div>
  </div>
<% index++; }); %>
</div>
