<div class="row m-page-heading">
  <div class="col-xs-12 col-sm-6">
    <h3><% if(model.isNew()) { %>New<% } else { %>Edit<% } %> Blueprint</h3>
  </div>
</div>
<div class="alert alert-danger" role="alert" style="display:none;"></div>
<form id="new-blueprint" role="form"
  data-next="show" data-model="Blueprint"
  <% if(model.isNew()) { %>
  data-action="new"
  <% } else { %>
  data-action="edit" data-model-id="<%=model.get('id') %>"
  <% } %>
  >
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" required class="form-control"
           <% if(!model.isNew()) { %>value="<%=model.get('title') %>"<% } %>
           id="title" name="title" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="repo_url">Repo url</label>
    <input type="text" required class="form-control"
           <% if(!model.isNew()) { %>value="<%=model.get('repo_url') %>"<% } %>
           id="repo_url" name="repo_url" placeholder="Enter repo url">
  </div>
  <% if(!model.isNew()) { %>
  <div class="form-group">
    <label for="status" class="block">Status</label>
    <div class="select"> 
      <select id="status" name="status" class="form-control"
        <% if(model.get('status') != 'testing'
              && model.get('status') != 'broken'
              && model.get('status') != 'ready') { %>disabled<% } %>>
        <option value="testing"
          <% if(model.get('status') == 'testing') { %>selected<% } %>
          >Testing</option>
        <option value="broken"
          <% if(model.get('status') == 'broken') { %>selected<% } %>
          >Broken</option>
        <option value="ready"
          <% if(model.get('status') == 'ready') { %>selected<% } %>
          >Ready</option>
      </select>
    </div>
  </div>
  <% } %>
  <button type="submit" class="btn btn-primary"
          data-loading-text="Saving...">Save changes</button>
</form>
