<h3><% if(isNew()) { %>New<% } else { %>Edit<% } %> Blueprint</h3>
<div class="alert alert-danger" role="alert" style="display:none;"></div>
<form id="new-blueprint" role="form"
  <% if(isNew()) { %>
  data-model="Blueprint" data-action="new" data-next="/blueprints"
  <% } else { %>
  data-model="Blueprint" data-action="edit"
  data-model-id="<%=get('id') %>"
  <% } %>
  >
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" required class="form-control"
           <% if(!isNew()) { %>value="<%=attributes.title %>"<% } %>
           id="title" name="title" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="repo_url">Repo url</label>
    <input type="url" required class="form-control"
           <% if(!isNew()) { %>value="<%=attributes.repo_url %>"<% } %>
           id="repo_url" name="repo_url" placeholder="Enter repo url">
  </div>
  <% if(!isNew()) { %>
  <div class="form-group">
    <label for="status">Status</label>
    <select id="status" name="status" class="form-control"
      <% if(get('status') != 'testing'
            && get('status') != 'broken'
            && get('status') != 'ready') { %>disabled<% } %>>
      <option value="testing"
        <% if(get('status') == 'testing') { %>selected<% } %>
        >Testing</option>
      <option value="broken"
        <% if(get('status') == 'broken') { %>selected<% } %>
        >Broken</option>
      <option value="ready"
        <% if(get('status') == 'ready') { %>selected<% } %>
        >Ready</option>
    </select>
  </div>
  <% } %>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>
