<div id="form-builder" class="row">
  <div class="col-md-8 col-sm-7 scroll-pane" id="preview-pane">
    <div id="schema"></div>
  </div>
  <div class="col-md-4 col-sm-5 scroll-pane" id="form-pane">
    <div id="split-bar"></div>
    <div class="message"></div>
    <div id="previewDiv"></div>
  </div>
</div>
