<div class="modal-dialog" tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModal">&times;</button>
      <div>
        <span class="glyphicon glyphicon-alert"></span><p>Your project has unsaved changes. Would you like to save your project before leaving?</p>
      </div>
    </div>
    <div class="modal-footer">
      <button id="dismiss" class="btn btn-default modal-action">Discard changes</button>
      <button type="submit" class="btn btn-primary"
               id="save" data-loading-text="Saving...">Save now</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
