<p class="margin-top">
<button type="submit" class="btn btn-default"
        <% if ( model.hasStatus('building') ) { %>disabled="true"<% } %>
        data-loading-text="Saving...">Save</button>

<% if ( ! model.isNew() ) { %>
  <% if ( model.hasUnpublishedUpdates() || model.isDraft() ) { %>
  <a class="btn btn-default" target="_blank"
     <% if ( !model.hasStatus('built') ) { %>disabled="true"<% } %>
     href="<%=model.getPreviewUrl('http') %>">Preview</a>
  <% } else { %>
  <a class="btn btn-default" target="_blank"
     <% if ( !model.hasStatus('built') ) { %>disabled="true"<% } %>
     href="<%=model.getPublishUrl('http') %>">View</a>
  <% } %>

  <button type="button" class="btn btn-success"
          <% if ( !model.hasStatus('built') ) { %>disabled="true"<% } %>
          data-action="build-and-publish" data-model="Project"
          data-model-id="<%=model.get('slug') %>">Publish</button>

  <button type="button" class="btn btn-danger"
          <% if ( model.hasStatus('building') ) { %>disabled="true"<% } %>
          data-action="delete" data-model="Project"
          data-next="/projects"
          data-model-id="<%=model.get('slug') %>">Delete</button>
<% } %>
</p>

<p id="validation-error" class="text-danger hidden">
  <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span> You are missing required fields. Please edit and re-save.</span>
  </p>
<p id="success-message" class="text-success hidden">
  <span class="m-status status-ok"><i class="icon-ok"></i>You project has successfully saved.</span>
</p>

<% if ( ! model.isNew() ) { %>
  <% if ( model.hasStatus('broken') ) { %>
  <p class="text-danger">
     <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span> There were errors during the build.</span>
    </p>
  <% } else if ( model.hasStatus('building') ) { %>
  <p class="text-warning">
    <span class="m-status status-info"><i class="icon-info"></i>Building the project, gimmie a sec.</span>
  </p>
  <% } else if ( model.isDraft() ) { %>
  <p class="text-warning">
    <span class="m-status status-info"><i class="icon-info"></i>You are currently editing a draft.</span>
  </p>
  <p class="text-warning">
    <span class="m-status status-info"><i class="icon-info"></i>You must publish to see your updates live.</span>
  </p>
  <% } else if ( model.hasUnpublishedUpdates() ) { %>
  <p class="text-warning">
    <span class="m-status status-info"><i class="icon-info"></i>This project has unpublished changes. To preview your changes, click ‘Preview’. If you are satisfied with your changes, you must republish.</span>
  </p>
  <% } %>
<% } %>
