<h3><small><% if(model.isNew()) { %>New<% } else { %>Edit<% } %> project</small></h3>
<% if(model.hasInstructions()) { %>
<div class="row">
  <div class="col-md-8"><div id="projectForm"></div></div>
  <div class="col-md-4"><%=model.instructions() %></div>
</div>
<% } else { %>
  <div id="projectForm"></div>
<% } %>
