
.body-default {
  background: $navbar-default-bg;
}
.body-inverse {
  background: $navbar-inverse-bg;
}

main {
  padding: 25px 0;
  background: #fff;
}

.column {
  margin-bottom: 25px;
}

.alert .alert-link{
  color: $alert-success-text;
  text-decoration: underline;
  font-weight: normal;
}

.label{
  padding: .1em .5em;
  font-size: 100%;
  text-transform: capitalize;
  @each $type, $color in (
      default    color(default),
      primary    color(primary),
      success   color(positive),
      secondary  color(secondary),
      danger   color(negative),
      info color(cautionary),
      warning color(cautionary),
      disabled color(disabled),
      link color(link)) {
    &.label-#{$type} {
      background-color: $color;
      // border: 1px solid $color;
      // color: color(background);
    }
  }
}
