.navbar {
  margin-bottom: 0;
  border: none;
}
.navbar-header {
  float: left;
  height: $navbar-height;
}
.navbar-brand {
  font-weight: bold;
  font-size: 32px;
  padding: 18px 15px;
  height: $navbar-height;
  line-height: 1;

  img {
    float: left;
    margin-right: 10px;
  }
  @media (max-width: $grid-float-breakpoint-max) {
    img {
      display: none;
    }
  }
  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: 0;
    }
  }
}
.navbar-nav {
  > li > a {
    padding: 31px 0 11px 0;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    &:after {
      background-color: $primary;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 5px;
      width: 0;
      //transition: width ease-in-out 0.3s;
      //-webkit-transition: width ease-in-out 0.3s;
    }
    &:hover:after {
      width: 100%;
      background-color: darken($primary, 10%);
    }
  }

  > .active a:after,
  > .active a:hover:after {
    width: 100%;
    background-color: $primary;
  }

  > .open a:after,
  > .open a:hover:after {
    width: 0;
  }
  
  @media (max-width: $grid-float-breakpoint-max) {
    > li > a:hover:after {
      width: 0;
    }
  }
}


// custom navbar module that doesn't get collapsed on small breakpoints
.navbar-segment {
  position: relative;
  &.open {
    background-color: $navbar-default-link-active-bg;
    color: $navbar-default-link-active-color;
  }
  > a {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
      text-decoration: none;
    }
  }
}
.navbar-inverse .navbar-segment {
  &.open {
    background-color: $navbar-inverse-link-active-bg;
    color: $navbar-inverse-link-active-color;
  }
  > a {
    color: $navbar-inverse-link-color;
    &:hover {
      color: $navbar-inverse-link-hover-color;
    }
  }
}

.navbar-bars {
  float: left;
  > a {
    display: inline-block;
    @include navbar-vertical-align($line-height-computed);
    margin-left: 10px;
    margin-right: 10px;
  }
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}

.navbar-apps {
  float: left;
  position: relative;
  height: $navbar-height;
  .dropdown-menu {
    margin-top: 0;
    min-width: 200px;
    a {
      padding: 6px 19px;
      line-height: 20px;
    }
    img {
      vertical-align: top;
      margin-right: 5px;
    }
  }
}

// move the margin rules to the span to make room for the profile image
.navbar-user {
  float: right;
  margin-left: $navbar-padding-horizontal;
  @media (max-width: $grid-float-breakpoint) {
    margin-right: -$navbar-padding-horizontal;
  }
  .dropdown-toggle {
    height: $navbar-height;
    margin: 0;
    span {
      display: inline-block;
      float: left;
      @include navbar-vertical-align($line-height-computed);
      margin-left: 10px;
      margin-right: 10px;
    }
    img {
      width: $navbar-height;
      height: $navbar-height;
    }
  }
  .dropdown-menu {
    margin-top: 0;
  }
}
