<div class="container-fluid">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="pull-right"><div id="spinner"></div></div>
    <h4>Autotune</h4>
    <ul class="nav nav-tabs" id="nav">
      <li role="tabpanel" data-tab="projects"><a href="/projects">Projects</a></li>
      <li role="tabpanel" data-tab="blueprints"><a href="/blueprints">Blueprints</a></li>
    </ul>
    <div id="flash"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="main"></div>
  </div>
</div>
</div>
