<div data-analytics-class="embed"
     data-analytics-viewport="autotune"
     id="<%=@project.slug %>__graphic"></div>
<script type="text/javascript"><!--
(function() {
  var l = function() {
    new pym.Parent(
      '<%=@project.slug %>__graphic',
      '<%=@project.deployer(:publish).url_for('/') %>');
  }
  if(typeof(pym) === 'undefined') {
    var h = document.getElementsByTagName('head')[0],
        s = document.createElement('script');
    s.type = 'text/javascript';
    s.src = 'https://cdnjs.cloudflare.com/ajax/libs/pym/0.4.5/pym.js';
    s.onload = l;
    h.appendChild(s);
  } else {
    l();
  }
})();
// --></script>
